//colors

$background-primary-color: #FFFFFF;

$primary-200: #F37521;
$paper-color: #FCFCFC;
$gray-15: #F7F7F7;
$gray-25: #F5F4F5;
$gray-50: #ECEAEC;
$gray-200: #E2DFE2;
$gray-300: #CFC9CF;
$gray-400: #BCB3BC;
$gray-500: #667085;
$gray-600: #8C7D8C;
$warning-700: #8F6B00;
$helper-green-dark: #218141;
$helper-green-light: #E7F7EB;
$helper-rose-dark: #AE2217;
$helper-rose-light: #F7ECEB;
$text-color: #201D20;
$text-color-light: #667085;
