@import '/src/styles/abstracts/mixins';
@import '/src/styles/abstracts/variables';



.content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;

    font-size: 18px;
    font-weight: 400;

}


.hideButton {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 6px 18px;

    border-radius: 8px;
    border: 1px solid $primary-200;
    background-color: $primary-200;

    color: $paper-color;
    font-size: 14px;
    font-weight: 600;
}


