@import './styles/base/reset';
@import './styles/base/typography';


body {

    & .MuiModal-root {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .MuiBackDrop-root {
        opacity: 0;
    }

}